.homeBackground{
    background-color: bisque;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.homeBackground h1{
    font-family: "Bebas Neue",serif;
}

.notLoggedContainer{

    /* background-color: blue; */
    font-family: "Bebas Neue",serif;
    padding-inline: 50px;
    
}

.heroContainer{
    display: flex;
    flex-direction: column;
    margin-top: 2em;

}

.notLoggedContainer h2{
    text-align: center;
    font-size: 6em;
}

.notLoggedContainer p{
    text-align: center;
    font-size: 2em;
}

.continueButton{
    margin-top: 40px;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.continueGoogle{
    background-color: white;
    padding: 5px;
    padding-inline: 10px;
    border-radius: 5%;
    cursor: pointer;
    letter-spacing: 2px;
}
.continueGithub{
    background-color: white;
    padding: 5px;
    padding-inline: 10px;
    border-radius: 5%;
    cursor: pointer;
    letter-spacing: 2px;
}

.scroller{
    height: 100vh;
    /* background-color: aquamarine; */
    display: flex;
    z-index: 2;
    align-items: center;
    width: 100vw;
}

#fst{
    /* background-color: blue; */
    margin-top: 65em;
}
.noScrollHead{
    /* margin-left: 50px; */
    text-align: justify;
    font-size: 10vh;
    z-index: 2;
    width:10em;
    background-color:bisque;
}

.noScrollHead h1{
    margin-left: 60px;
}

.scrollerBox{
    /* background-color: blue; */
    display:flex;
    /* overflow-x: hidden; */
    align-items: flex-start;
    z-index: 1;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    /* width: 400vw; */
}

.scrollElement{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: bisque;
    font-family: "Bebas Neue",serif;
    margin-left: 15em;
    margin-right: 10em;
    height: 8em;
    padding-inline:1em ;
    width: 15em;
    flex-shrink: 0;
    font-size: 3em;
}

.scrollHint{

    margin-top: 5vh;
    font-size: 2em;
    text-align: center;
    /* background-color: aqua; */
    font-family: "Bebas Neue",serif;
}


.loggedContainer{

    /* background-color: blue; */
    font-family: "Bebas Neue",serif;
    display: flex;
    width: 100vw;
    /* background-color: aquamarine; */
    justify-content: space-between;

    
}

.sections{
    background-color: black;
    height: 80vh;
    width: 28vw;
    padding: 5px;

    
}

.projectSection{
    /* background-color: red;
    height: 80vh; */
    margin-left: 50px;
    display: flex;
    flex-direction: column;

}

.exceptionsSection{
    /* background-color: blue;
    height: 80vh; */
    margin-left: 50px;
    margin-right: 50px;
}
.briefSection{
    /* background-color: green; */
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    
}

.addProject{
    background-color: rgb(197, 197, 197);
    text-align: center;
    cursor: pointer;
    position: sticky;
    top: 0;
    transition: all 0.3s ease;

}

.addProject:hover{
    text-shadow: -3px 3px 1px rgba(0, 0, 0,0.5) ; 
}

.projectList{
    /* background-color: blue; */
    margin-top: 20px;
    height: 100%;
    padding: 5px;
    overflow:auto;
}

.projectCard{
    background-color: white;
    text-align: center;
    font-size:1.2em;
    padding: 2px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.exceptionsSection h1{
    color: white;
    background-color: black;
    text-align: center;
    /* cursor: pointer; */
    position: sticky;
    top: 0;
}
.briefSection h1{
    color: white;
    background-color: black;
    text-align: center;
    /* cursor: pointer; */
    position: sticky;

    top: 0;
}

.exceptionCard{
    background-color: white;
    text-align: center;
    font-size:1.2em;
    padding: 2px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.exceptionCard h3{
    color: crimson;
}

.projectCard:hover{
    background-color: lightgrey;
}

.exceptionCard:hover{
    background-color: lightgray;
}

.exceptionsSection p{
    color: white;
    height: 100%;
    text-align: center;
    margin-top: 50%;
}
.briefSection p{
    color: white;
    height: 100%;
    text-align: center;
    margin-top: 50%;
}
.detailContainer{
    background-color: white;
    height: 100%;
    margin-top: 20px;
    padding: 5px;
    overflow-y:auto;
}

.detailContainer h2{
    font-size: 2em;
}
.stackTrace{
    color: red;
    font-family: 'Fira Code', monospace;
    margin-bottom: 10px;
    font-size: 0.7vw;
}
.solutionText{
    font-size: 1.4em;
}