.homeBackground{
    background-color: bisque;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.homeBackground h1{
    font-family: "Bebas Neue",serif;
}

.notLoggedContainer{

    /* background-color: blue; */
    font-family: "Bebas Neue",serif;
    padding-inline: 50px;
    
}

.heroContainer{
    display: flex;
    flex-direction: column;
    margin-top: 2em;

}

.notLoggedContainer h2{
    text-align: center;
    font-size: 6em;
}

.notLoggedContainer p{
    text-align: center;
    font-size: 2em;
}

.continueButton{
    margin-top: 20px;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.continueGoogle{
    background-color: white;
    padding: 5px;
    padding-inline: 10px;
    border-radius: 5%;
    cursor: pointer;
    letter-spacing: 2px;
}
.continueGithub{
    background-color: white;
    padding: 5px;
    padding-inline: 10px;
    border-radius: 5%;
    cursor: pointer;
    letter-spacing: 2px;
}

.scroller{
    height: 100vh;
    /* background-color: aquamarine; */
    display: flex;
    z-index: 2;
    align-items: center;
    width: 100vw;
}

#fst{
    /* background-color: blue; */
    margin-top: 65em;
}
.noScrollHead{
    /* margin-left: 50px; */
    text-align: justify;
    font-size: 10vh;
    z-index: 2;
    width:10em;
    background-color:bisque;
}

.noScrollHead h1{
    margin-left: 60px;
}

.scrollerBox{
    /* background-color: blue; */
    display:flex;
    /* overflow-x: hidden; */
    align-items: flex-start;
    z-index: 1;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    /* width: 400vw; */
}

.scrollElement{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: bisque;
    font-family: "Bebas Neue",serif;
    margin-left: 15em;
    margin-right: 10em;
    height: 8em;
    padding-inline:1em ;
    width: 15em;
    flex-shrink: 0;
    font-size: 3em;
}

.scrollHint{
    margin-top: 5vh;
    font-size: 2em;
    text-align: center;
    /* background-color: aqua; */
    font-family: "Bebas Neue",serif;
}
